@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin rem($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($prop: all, $time: 0.2, $easing: ease){
    -webkit-transition:$prop $time+s $easing;
    // -moz-transition:$prop $time+s $easing;
    // -o-transition:$prop $time+s $easing;
    transition:$prop $time+s $easing;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin socialIcon($size:50, $socialColors:true) {
    display: block;
    float: left;
    width: $size+px;
    height: $size+px;
    color: #fff;
    text-align: center;
    line-height: $size+px;
    font-size: calc( #{$size} / 2 * 1px);
    @include transition();

    //  variable for darkening all icons on hover!
    $darken:10%;
    @if $socialColors {
        &.facebook {
            background-color: #3b5998;
            &:hover {
                background-color: darken(#3b5998, $darken)
            }
        }
        &.twitter {
            background-color: #00aced;
            &:hover {
                background-color: darken(#00aced, $darken)
            }
        }
        &.linkedin {
            background-color: #007bb6;
            &:hover {
                background-color: darken(#007bb6, $darken)
            }
        }
        &.youtube {
            background-color: #bb0000;
            &:hover {
                background-color: darken(#bb0000, $darken)
            }
        }
        &.vimeo, &.vimeo-square {
            background-color: #aad450;
            &:hover {
                background-color: darken(#aad450, $darken)
            }
        }
        &.instagram {
            background-color: #517fa4;
            &:hover {
                background-color: darken(#517fa4, $darken)
            }
        }
        &.pinterest {
            background-color: #cb2027;
            &:hover {
                background-color: darken(#cb2027, $darken)
            }
        }
        &.google-plus {
            background-color: #dd4b39;
            &:hover {
                background-color: darken(#dd4b39, $darken)
            }
        }
        &.tumblr {
            background-color: #32506d;
            &:hover {
                background-color: darken(#32506d, $darken)
            }
        }
        &:hover {
            font-size: calc( #{$size} / 2 * 1.05px);
        }
    }

    @else {
        background-color: $color-primary;
        &:hover {
            background-color: darken($color-primary, $darken);
        }
    }
}
