@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin rem($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin transition($prop: all, $time: 0.2, $easing: ease){
    -webkit-transition:$prop $time+s $easing;
    -moz-transition:$prop $time+s $easing;
    -o-transition:$prop $time+s $easing;
    transition:$prop $time+s $easing;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}