//  colors
$color-primary: #000000;

//  fonts
$font-base-size: 16px;
$font-base-lineheight: 24px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-weight-regular: 300;
$font-weight-bold: 700;

//  breakpoints
$breakpoint-tablet: 48em;   //  768px
$breakpoint-desktop: 60em;  //  960px
